{% extends 'base.html' %}
{% block slider %}
    {% load static %}
<div style="background-image:url('/static/images/background-image.jpg')"></div>
    <!-- Left and right controls -->
    <a href="#carouselslideshow" class="carousel-control-prev" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a href="#carouselslideshow" class="carousel-control-next" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

    <footer>
        <ul class="spoqahansans normal w100" style="padding-top:10px;">
          <li>본 웹사이트는 개인프로젝트용 사이트입니다.</li>
          <li>불편사항 및 피드백은 언제든지 환영합니다.</li>
          <li style="font-weight:bold;">hanyonghee9264@gmail.com</li>
        </ul>
    </footer>
</div>
{% endblock %}