{% extends 'base.html' %}
{% block main %}
    {% load static %}
<header class="justify-content-center align-self-center">
    <div class="header-content">
      <div class="header-content-inner">
        <h1 style="color: white; font-style: italic; font-weight: 300;">Coffee calories</h1>
        <hr style="border-color: white;">
        <p>
          Starbucks & A Twosome Place calories
          <br>
          커피 칼로리 및 성분표
        </p>
      </div>
    </div>
    <footer class="footer-content">
        <ul class="spoqahansans normal w100" style="padding-top:10px; color:white; position: absolute; right: 0; bottom: 0">
          <li>본 웹사이트는 개인프로젝트용 사이트입니다.</li>
          <li>불편사항 및 피드백은 언제든지 환영합니다.</li>
          <li style="font-weight:bold;">hanyonghee9264@gmail.com</li>
        </ul>
    </footer>
</header>


</div>
{% endblock %}